<p><h1><%= @user.name %>のFavorite一覧ページ</h1></p>
<p><%= link_to "投稿一覧ページへ" , user_path(user_name: @user.name) %></p>

<%= render "relationships/follow", user: @user %>
<p><%= link_to "フォロー数", user_followings_path(user_name: @user.name) %>：<%= @user.followings.count %></p>
<p><%= link_to "フォロワー数", user_followers_path(user_name: @user.name) %>：<%= @user.followers.count %></p>



<% @favorite_all.each do |favorite| %>
  <% if favorite.theme.status == 2 %>
  　<%= render "themes/indiv_theme", theme: favorite.theme %>
  <% end %>
<% end %>



