<div id="theme-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <%= form_with model:theme_new, remote: true do |f| %>
        <%= link_to "Back", close_new_theme_path(user_name: current_user.name), remote:true, class: "btn btn-danger" %>
        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :tag_list %>
          <%= f.text_field :tag_list, value: theme_new.tag_list.join(','), class: "form-control" %>
        </div>
        <div>
          <%= f.submit "Create Theme", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>