<p><h1>テーマ編集ページ</h1></p>
<p><h1><%= @theme.title %></h1></p>

<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-8 offset-md-1'>
      <% @theme.links.each do |link| %>
        <div class='border border-secondary rounded'>
          <p><%= link_to "Edit", edit_theme_link_path(user_name: @theme.user.name, theme_hashid: @theme.hashid, link_hashid: link.hashid), remote: true, class: "btn btn-success" %></p>
          <p><%= link_to "Destroy", destroy_theme_link_path(user_name: @theme.user.name, theme_hashid: @theme.hashid, link_hashid: link.hashid), remote: true, method: :delete, "data-confirm":"本当に消しますか？", class: "btn btn-danger" %></p>
          <p><%= link.subtitle %></p>
          <p><%= link.caption %></p>
          <table class="table table-striped table-bordered table-hover">
            <tbody>
              <% link.one_links.each do |one_link| %>
                <tr>
                  <td><%= one_link.url_title %></td>
                  <td><a href="<% one_link.url %>"><%= one_link.url %></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
      <%= link_to 'Add Links', new_theme_link_path(user_name: @theme.user.name, theme_hashid: @theme.hashid), remote: true, class: "btn btn-primary" %>
      <div id="links-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
    </div>
  </div>
</div>
<%= form_with model: @theme, url: update_theme_path(user_name: @theme.user.name, theme_hashid: @theme.hashid), method: :patch do |f| %>
  <%= f.text_field :title %>
  <%= f.radio_button :status, 0, checked: true %> Draft
  <%= f.radio_button :status, 1 %> Limited
  <%= f.radio_button :status, 2 %> Released
  <%= f.submit "更新" %>
<% end %>
