<p><h1>ホーム</h1></p>


<% @theme_released_all.each do |theme| %>
  <%= render "themes/theme_card", theme: theme %>
<% end %>


<p><h1>記事ランキング</h1></p>
<% @themes_ranks.each.with_index(1) do |theme, i| %>
  <div class="card-content">
    <div class="card-content-header">
      <p><%= i %>位: <%= link_to theme.title, theme_path(user_name: theme.user.name, theme_hashid: theme.hashid), class:"link" %>♡*<%= theme.favorites.count %></p>
    </div>
  </div>
<% end %>


<p><h1>ユーザーランキング</h1></p>
<% @user_post_favorite_ranks.each.with_index(1) do |(user, value), i| %>
  <div class="card-content">
    <div class="card-content-header">
      <p><%= i %>位: <%= link_to user.name, user_path(user_name: user.name), class:"link" %>♡*<%= value %></p>
    </div>
  </div>
<% end %>

<p><h1>ユーザーランキング2</h1></p>
<% @RANKS.each do |user| %>
  <div class="card-content">
    <div class="card-content-header">
      <p><%= user.name %> <%= user.rank %>位: <%= user.score %></p>
    </div>
  </div>
<% end %>