<p><h1>ホーム</h1></p>


<% @theme_released_all.each do |theme| %>
  <%= render "themes/theme_card", theme: theme %>
<% end %>



<p><h1>記事ランキング</h1></p>
<% @theme_ranks.each do |theme_rank| %>
  <div class="card-content">
    <div class="card-content-header">
      <p><%= theme_rank.theme.title %> <%= theme_rank.rank %>位: <%= theme_rank.score %></p>
    </div>
  </div>
<% end %>

<p><h1>ユーザーランキング</h1></p>
<% @user_ranks.each do |user_rank| %>
  <div class="card-content">
    <div class="card-content-header">
      <p><%= user_rank.user.name %> <%= user_rank.rank %>位: <%= user_rank.score %></p>
    </div>
  </div>
<% end %>