<div class='row'>
  <div class="col-md-3 offset-md-1">
    <p>ユーザーランキング</p>
    <%= render "users/ranking_user", user_ranks: @user_ranks %>
    <p>ユーザーランキング</p>
    <%= render "users/ranking_user", user_ranks: @user_ranks %>
  </div>
  <div class="col-md-7">
    <% if user_signed_in? %>
      <div class="button-wrap">
        <%= link_to "全ユーザー", root_path, class: "radio-button btn-energy" %>
        <%= link_to "フォロー中", index_follow_path, class: "radio-button" %>
      </div>
    <% end %>
    <% @theme_released_all.each do |theme| %>
      <%= render "themes/theme_card", theme: theme %>
    <% end %>
  </div>
  
</div>