<div class='row'>
  <div class="col-md-2">
    <p>ユーザーランキング</p>
    <%= render "users/ranking_user", user_ranks: @user_ranks %>
    <p>ユーザーランキング</p>
    <%= render "users/ranking_user", user_ranks: @user_ranks %>
  </div>
  <div class="col-md-7">
    <% if user_signed_in? %>
    
      <div id="base_button">
        <input type="radio" name="select_list" id="select_all_users" checked>
        <input type="radio" name="select_list" id="select_following_users">
      
        <label for="select_all_users">
          <span lang="following_users">全ユーザー</span>
          <span lang="all_users">全ユーザー</span>
        </label>
        <label for="select_following_users">
          <span lang="following_users">フォロー中</span>
          <span lang="all_users">フォロー中</span>
        </label>
      
        <div lang="following_users">
          <% @theme_released_following.each do |theme| %>
            <%= render "themes/theme_card", theme: theme %>
          <% end %>
        </div>
        <div lang="all_users">
          <% if current_user.followings.count == 0 %>
            <p>誰かフォローしてみよう！</p>
          <% elsif @theme_released_all.length == 0 %>
            <p>投稿がありません</p>
          <% else %>
            <% @theme_released_all.each do |theme| %>
              <%= render "themes/theme_card", theme: theme %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <% @theme_released_all.each do |theme| %>
        <%= render "themes/theme_card", theme: theme %>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
      <p>ユーザーランキング</p>
      <%= render "users/ranking_user", user_ranks: @user_ranks %>
      <p>ユーザーランキング</p>
    <%= render "users/ranking_user", user_ranks: @user_ranks %>
    </div>
</div>




<style type="text/css">
  #base_button input[type="radio"] {
    display: none;
  }

  #base_button label{
    display    : inline-block;
    border     : 1px solid #ccc;
    box-shadow : 2px 2px #999;
    padding    : 2px 6px;
  }

  #select_all_users:not(:checked) ~ * *:lang(all_users) {
    display: none;
  }
  #select_following_users:not(:checked) ~ * *:lang(following_users) {
    display: none;
  }

  #select_all_users:checked ~ label[for="select_all_users"] {
    background: #f48c1c;
  }
  #select_following_users:checked ~ label[for="select_following_users"] {
    background: #f48c1c;
  }
</style>