<p><h1>ホーム</h1></p>


<% @theme_released_all.each do |theme| %>
  <%= render "themes/indiv_theme", theme: theme %>
<% end %>


<p><h1>記事ランキング</h1></p>
<% @themes_ranks.each.with_index(1) do |theme, i| %>
  <div class="card-content">
    <div class="card-content-header">
      <p><%=i%>位: <%= link_to theme.title, theme_path(user_name: theme.user.name, theme_hashid: theme.hashid) %>♡*<%= theme.favorites.count %></p>
    </div>
  </div>
<% end %>


<p><h1>ユーザーランキング</h1></p>
<% @user_post_favorite_ranks.each.with_index(1) do |(user, value), i| %>
  <div class="card-content">
    <div class="card-content-header">
      <p><%=i%>位: <%= link_to user.name, user_path(user_name: user.name) %>♡*<%=value%></p>
    </div>
  </div>
<% end %>