<%= content_for(:title, @theme.title) %>
<div class='row'>
  <div class="col-md-8 offset-md-2 bg-white pt-5 pb-5">
    <div class="pl-5 pr-5 mb-3">
      <span class="h5">
        <%= link_to user_path(user_name: @theme.user.name) do %>
          <%= attachment_image_tag @theme.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size:"30x30", style: "border-radius: 50%;" %>
          <%= @theme.user.name %>
        <% end %>
        <%= @theme.created_at.strftime('%Y/%m/%d') %>
      </span>
      <% if @user == current_user %>
        <h4 class="link-card-edit">
          <%= link_to "", edit_theme_path(user_name: @user.name, theme_hashid: @theme.hashid), local: true, class: "fas fa-edit" %>
          <%= link_to "", destroy_theme_path(user_name: @user.name, theme_hashid: @theme.hashid), local: true, method: :delete, "data-confirm":"本当に消しますか？", class: "fas fa-times-circle" %>
        </h4>
      <% end %>
    </div>
    <div class="theme-frame pl-5 pr-5">
      <h1 class="theme-title"><%= @theme.title %></h1>
    </div>
    <div class="pl-5 pr-5 mb-5">
       <% @theme.tag_list.each do |tag| %>
         <%= link_to tag_path(tag_name: tag), class: "badge badge-warning" do %>
           <i class="fas fa-tag"></i>
           <%= tag %>
         <% end %>
       <% end %>
     </div>
    <div class="col-md-10 offset-md-1">
      <% @link_all.each do |link| %>
        <div class='link-card' id='link-card-<%= link.id %>'>
          <%= render 'links/link_card', link: link %>
        </div>
      <% end %>
      <%= render "users/user_wide", user: @theme.user %>
      <div class="theme-share" style="display:flex;">
        <% if @theme.post_status == 2 and user_signed_in? %>
          <div class="favorite favorite-left">
        　　<%= render "favorites/favorite", theme: @theme %>
        　</div>
        <% end %>
        <div>
          <%= link_to "https://twitter.com/intent/tweet?hashtags=LinkHub&text=#{@theme.title}【LinkHub】&url=#{request.url}&via=#{@theme.user.twitter_id}", title: 'Twitter', target: '_blank' do %>
            <i class="fab fa-twitter fa-lg" style="color:#1DA2F2"></i>
          <% end %>
        </div>
      
      </div>
      
      <div class="theme-report-btn">
         <%= link_to theme_report_path(user_name: @theme.user.name, theme_hashid: @theme.hashid), local: true, method: :patch, data: {confirm: "通報しますか？"} do %>
           <i class="fas fa-exclamation-circle"></i> この記事を通報する
         <% end %>
       </div>
    </div>
    <% if @theme_sort_by_fav.length != 0 %>
      <div class="col-md-10 offset-md-1">
         <h1>関連記事</h1>
         <div class="theme-card-image">
           <% @theme_sort_by_fav.first(5).each do |theme, fav| %>
             <%= render "themes/theme_card", theme: theme %>
           <% end %>
         </div>
      </div>
    <% end %>
  </div>
</div>