<p><h1><%= @theme.title %></h1></p>


<div class='row'>
  <div class="col-md-0">
    <div class="bg-white text-center">
      <div class="bg-primary ml-auto mr-auto" style="width:50%; height: auto;">
        
      </div>
      <div>
        <%= link_to "", "https://twitter.com/share?url=#{request.url}/&text=#{@theme.title}&hashtags=LinkHub", title: 'Twitter', target: '_blank', class: 'fab fa-twitter' %>
      </div>
      <div>
        <%= render "favorites/favorite", theme: @theme %>
      </div>
      
      
    </div>
    

  </div>


  <div class="col-md-7 offset-md-1">
    <% @link_all.each do |link| %>
      <div class='link-card' id='link-card-<%= link.id %>'>
        <%= render 'links/link_card', link: link %>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <%= render "users/user_card", user: @theme.user %>
  </div>
</div>

<% if @user == current_user %>
  <%= link_to '編集', edit_theme_path(user_name: @user.name, theme_hashid: @theme.hashid), class: "btn btn-success" %>
  <%= link_to '削除', destroy_theme_path(user_name: @user.name, theme_hashid: @theme.hashid), method: :delete, "data-confirm": "本当に消しますか？", class: "btn btn-danger" %>
<% end %>

<% if @theme.post_status == 2 and user_signed_in? %>
  <p id="favorite_buttons_<%= @theme.id %>">
　　<%= render "favorites/favorite", theme: @theme %>
　</p>
<% end %>
