<div class='row'>
  <div class="col-md-3 offset-md-1">
    <%= render "users/user_info", user: @user %>
  </div>
  <div class="col-md-7">
    <div class="button-wrap">
      <%= link_to "フォロー一覧", user_followings_path(user_name: @user.name), class: "radio-button btn-energy" %>
      <%= link_to "フォロワー一覧", user_followers_path(user_name: @user.name), class: "radio-button" %>
    </div>
    
    <% unless @user_followings.length == 0 %>
      <% @user_followings.each do |user| %>
        <%= render "users/user_wide", user: user %>
      <% end %>
      <%= paginate @user_followings, theme: 'bootstrap-5' %>
    <% else %>
      <p>フォローしているユーザーはいません</p>
    <% end %>
    
    
  </div>
</div>