<div class="box">
  <div class="box-inner">
    <h3>新規登録</h3>

    <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="box-username">
        <%= f.label :name, "ユーザー名" %><br />
        <%= f.text_field :name, autofocus: true %>
      </div>

      <div class="box-email">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="box-password">
        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="box-password">
        <%= f.label :password_confirmation, "パスワード(確認)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      
      <div class="field">
        <%= f.check_box :agreement, :as => :boolean, checked: false, class: "mr-1" %>
        <%= f.label :remember, "利用規約とプライバシーポリシーに同意する" %>
      </div>
      
      <div class="box-newusr">
        <%= f.submit "メールアドレスを確認する" %>
        <div class="legal-text">
          続行することで、LinkHubの
          <button type="button" class="text btn-policy" data-toggle="modal" data-target="#modal-terms" data-backdrop="static">利用規約</button>
          および
          <button type="button" class="text btn-policy" data-toggle="modal" data-target="#modal-policy" data-backdrop="static">プライバシーポリシー</button>
          に同意するものとみなされます。
        </div>
      </div>
    <% end %>
    

    <div class="modal fade" id="modal-terms" tabindex="-1" aria-labelledby="modal-label-terms" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-label-terms">利用規約</h4>
          </div>
          <div class="modal-body">
            <%= render "layouts/terms" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="modal fade" id="modal-policy" tabindex="-1" aria-labelledby="modal-label-policy" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal-label-policy">プライバシーポリシー</h4>
          </div>
          <div class="modal-body">
            <%= render "layouts/policy" %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="newusr_box-login">
      <p><span>--------</span> アカウントをお持ちの方はこちら <span>--------</span></p>
      <%= link_to "ログイン", new_session_path(resource_name), class: "btn-login mb-2" %>
      <%- if devise_mapping.omniauthable? %>
        <%- resource_class.omniauth_providers.each do |provider| %>
          
          <% if OmniAuth::Utils.camelize(provider.match(/[a-z]+/)) == "Google" %>
            <%= link_to " #{OmniAuth::Utils.camelize(provider.match(/[a-z]+/))}アカウントでログイン", omniauth_authorize_path(resource_name, provider), class:"fab fa-#{provider.match(/[a-z]+/)} btn-#{provider.match(/[a-z]+/)} mb-2", method: :post %>
          <% end %>
          
        <% end %>
      <% end %>
    </div>
  </div>
</div>