<div class="user-info">

  <div class="user-image">
    <%= link_to user_path(user_name: user.name) do %>
      <%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size:"100x100", style: "border-radius: 50%;" %>
    <% end %>
  </div>
  <div class="user-name">
    <h4><%= link_to user.name, user_path(user_name: user.name) %></h4>
  </div>
  <div class="user-introduction">
    <p><%= user.introduction %></p>
  </div>

  <ul>
    <% unless user.github_id.blank? %>
      <li class="user-sns-item"><%= link_to "", "https://github.com/#{user.github_id}", target: '_blank', class:'fab fa-github', rel: "noopenner noreferrer" %></li>
    <% end %>
    
    <% unless user.twitter_id.blank? %>
      <li class="user-sns-item"><%= link_to "", "https://twitter.com/#{user.twitter_id}", target: '_blank', class:'fab fa-twitter', rel: "noopenner noreferrer" %></li>
    <% end %>
    
    <% unless user.homepage_url.blank? %>
      <li class="user-sns-item"><%= link_to "", user.homepage_url, target: '_blank', class:'fas fa-home', rel: "noopenner noreferrer" %></li>
    <% end %>
  </ul>
  <p class="text-center"><%= link_to user_followings_path(user_name: user.name) do %><%= user.followings.count %>フォロー<% end %> <%= link_to user_followers_path(user_name: user.name) do %><%= user.followers.count %>フォロワー<% end %></p>

  <% if current_user == user %>
    <div class="user-edit">
      <%= link_to edit_user_registration_path, class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>
  <% else %>
    <%= render "relationships/follow", user: user %>
  <% end %>

</div>
