<p><h1><%= @user.name %>の投稿一覧ページ</h1></p>
<p><%= link_to "Favorite一覧ページへ" , user_favorites_path(user_name: @user.name) %></p>


<div class='row'>
  <div class="col-md-3">
    <%= render "user_info", user: @user %>
  </div>
  <div class="col-md-9">
    <% @theme_all.each do |theme| %>
      <% if theme.post_status == 2 or @user == current_user %>
        <%= render "themes/theme_card", theme: theme %>
      <% end %>
    <% end %>
    <%= paginate @theme_all, theme: 'bootstrap-5' %>
  </div>
</div>