<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>-->
<%= content_for(:title, @user.name+"のマイページ") %>
<div class='row'>
  <div class="col-md-3 offset-md-1">
    <%= render "users/user_info", user: @user %>
  </div>
  <div class="col-md-7">
    <div class="button-wrap">
      <%= link_to "投稿一覧", user_path(user_name: @user.name), class: "radio-button btn-energy" %>
      <%= link_to "いいね一覧", user_favorites_path(user_name: @user.name), class: "radio-button" %>
      <%= render "searches/form_search_stock" %>
    </div>
    
    <% unless @theme_all.length == 0 %>
      <% @theme_all.each do |theme| %>
        <%= render "themes/theme_card", theme: theme %>
      <% end %>
      <%= paginate @theme_all, theme: 'bootstrap-5' %>
    <% else %>
      <p>投稿した記事があリません</p>
    <% end %>
    
    
  </div>
</div>