<p><h1><%= @user.name %>の投稿一覧ページ</h1></p>
<p><%= link_to "Favorite一覧ページへ" , user_favorites_path(user_name: @user.name) %></p>


<%= render "relationships/follow", user: @user %>
<p><%= @user.name %></p>
<p><%= link_to "フォロー数", user_followings_path(user_name: @user.name) %>：<%= @user.followings.count %></p>
<p><%= link_to "フォロワー数", user_followers_path(user_name: @user.name) %>：<%= @user.followers.count %></p>

<% @theme_all.each do |theme| %>
  <% if theme.status == 2 or @user == current_user %>
    <%= render "themes/indiv_theme", theme: theme %>
  <% end %>
<% end %>



<% if @user == current_user %>
  <%= link_to 'New Theme', new_theme_path, remote: true, class: "btn btn-success" %>
  <div id="theme-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% end %>

