<p><h1><%= @user.name %>の投稿一覧ページ</h1></p>
<p><%= link_to "Favorite一覧ページへ" , user_favorites_path(user_name: @user.name) %></p>



<% unless current_user == @user %>
  <div id="follow_buttons_<%= @user.id %>">
　　<%= render "relationships/follow", user: @user %>
　</div>
<% end %>


<% @user.themes.each do |theme| %>
  <% if theme.status == 2 or @user == current_user %>
    <div class="card-content">
      <div class="card-content-header">
        <%= link_to user_path(user_name: theme.user.name) do %>
          <%= attachment_image_tag theme.user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size:"30x30", style: "border-radius: 50%;" %>
          <%= theme.user.name %>
        <% end %>
      </div>
      <div class="card-content-main"><%= link_to theme.title, theme_path(user_name: theme.user.name, theme_hashid: theme.hashid) %></div>
      <div class="card-content-footer">Like <%= theme.favorites.count %></div>
    </div>
    <% end %>
<% end %>



<% if @user == current_user %>
  <%= link_to 'New Theme', new_theme_path, remote: true, class: "btn btn-success" %>
  <div id="theme-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
<% end %>

