<div class='border border-secondary rounded'>
  <p>SUBTITLE: <%= link.subtitle %></p>
  <p>CAPTION: <%= link.caption %></p>
  <table class="table table-striped table-bordered table-hover">
    <tbody>
      <% link.one_links.each do |one_link| %>
        <tr>
          <td><%= one_link.url_title %></td>
          <td>
            <%= link_to one_link.url, target: "_blank", rel: "noopenner noreferrer" do %>
              <% if one_link.url_image == nil %>
                <%= one_link.url %>
              <% else %>
                <%= image_tag one_link.url_image, size: '360x189' %>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>