<div class="one-link-card">
  <%= link_to one_link.url, rel: "nofollow noopener", target: "_blank", tabindex: "-1" do %>
    <div class="one-link-content">
      <div class="one-link-left">
        <strong class="one-link-title">
          <%= one_link.url_title %>
        </strong>
        <em class="one-link-description">
          <%= one_link.url_description %>
        </em>
        <em class="one-link-url">
          <%= get_tld(one_link.url) %>
        </em>
      </div>
      <div class="one-link-right one-link-image" style="background-image: url(<%= one_link.url_image %>);">
      </div>
    </div>
  <% end %>
</div>