<div class="one-link-card">
  <%= link_to one_link.url, rel: "nofollow noopener", target: "_blank", tabindex: "-1" do %>
    <div class="one-link-content">
      <div class="one-link-left">
        <strong class="one-link-title">
          <%= one_link.url_title %>
        </strong>
        <span class="one-link-description">
          <%= one_link.url_description %>
        </span>
        <span class="one-link-url">
          <%= get_tld(one_link.url) %>
        </span>
      </div>
      <div class="one-link-right one-link-image" style="background-image: url(
         <% if one_link.url_image.blank? %>
           <%= asset_path "no_url_image.png" %>
         <% else %>
           <%= one_link.url_image %>
         <% end %>
         );">
      </div>
    </div>
  <% end %>
</div>

<div>
   <p id="star-rate-<%= one_link.id %>"></p>
   <script>
     $('#star-rate-<%= one_link.id %>').raty({
       size: 36,
       starOff: '<%= asset_path('star-off.png') %>',
       starOn: '<%= asset_path('star-on.png') %>',
       readOnly: true,
       score: <%= one_link.rate %>,
     });
   </script>
 </div>