<div class="user-info">

  <div class="user-image">
     <%#= link_to user_path(user_name: user.name) do %>
     <!--a href="https://95c8d8b4c3024aed97270ed57ea337d1.vfs.cloud9.ap-northeast-1.amazonaws.com/attachments/90bacc98ca9d0750c2bffe7ce3a9a08c713901db/store/8044bd8450f0e2c272c2b9c4385f5f13a35dfe5dea6e9dfe0513ea1cd9f7/profile_image.jpeg" data-lightbox="group">
       <%#= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size:"100x100", style: "border-radius: 50%;" %>
     </a-->
     <%# url = attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg" %>
     <%# url = url.match(/.*src="(.+)" /) %>
     <!--<a href= <%#=url[1]%> >-->
       <%= attachment_image_tag user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size:"100x100", style: "border-radius: 50%;" %>
     <!--</a>-->
   </div>
  <div class="user-name">
    <h4><%= link_to user.name, user_path(user_name: user.name) %></h4>
  </div>
  <div class="user-introduction">
    <p><%= user.introduction %></p>
  </div>

  <ul>
    <% unless user.github_id.blank? %>
      <li class="user-sns-item"><%= link_to "", "https://github.com/#{user.github_id}", target: '_blank', class:'fab fa-github', rel: "noopenner noreferrer" %></li>
    <% end %>
    
    <% unless user.twitter_id.blank? %>
      <li class="user-sns-item"><%= link_to "", "https://twitter.com/#{user.twitter_id}", target: '_blank', class:'fab fa-twitter', rel: "noopenner noreferrer" %></li>
    <% end %>
    
    <% unless user.homepage_url.blank? %>
      <li class="user-sns-item"><%= link_to "", user.homepage_url, target: '_blank', class:'fas fa-home', rel: "noopenner noreferrer" %></li>
    <% end %>
  </ul>
  <p class="text-center"><%= link_to user_followings_path(user_name: user.name) do %><%= user.followings.count %>フォロー<% end %> <%= link_to user_followers_path(user_name: user.name) do %><%= user.followers.count %>フォロワー<% end %></p>

  <% if current_user == user %>
    <div class="user-edit">
      <%= link_to edit_user_registration_path, class: "btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>
  <% else %>
    <%= render "public/relationships/follow", user: user %>
  <% end %>

</div>
