<!--<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>-->
<%= content_for(:title, @user.name+"のマイページ") %>
<div class='row'>
  <div class="col-md-3 offset-md-1">
    <%= render "public/users/user_info", user: @user %>
  </div>
  <div class="col-md-7">
    <div class="button-wrap">
      <%= link_to "投稿一覧", user_path(user_name: @user.name), class: "radio-button btn-energy" %>
      <%= link_to "いいね一覧", user_favorites_path(user_name: @user.name), class: "radio-button" %>
      <div class="input-group mt-3">
        <div class="input-group-prepend">
         <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <%= form_with url: user_path(name: @user.name), local: true, method: :get do |f| %>
          <%= f.text_field :tq, class: "form-control" %>
        <% end %>
      </div>
    </div>
    
    <% unless @theme_all.length == 0 %>
      <% @theme_all.each do |theme| %>
        <%= render "public/themes/theme_card", theme: theme %>
      <% end %>
      <%= paginate @theme_all, theme: 'bootstrap-5' %>
    <% else %>
      <p>投稿した記事がありません</p>
    <% end %>
    
    
  </div>
</div>