<!DOCTYPE html>
<html>
  <head>
    <title>LinkHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="shadow-sm sticky-top border-bottom">
      <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container">
          <a class="navbar-brand text-energy" href="/"><span>LinkHub</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li><%= link_to 'New Theme', new_theme_path(user_name: current_user.name), remote: true, class: "btn btn-energy" %></li>
                <li><%= link_to "マイページ", user_path(user_name: current_user.name), class: "btn btn-energy" %></li>
                <li><%= render "searches/form_search" %></li>
                <li>
                  <%= link_to edit_user_registration_path, class: "nav-link" do %>
                    <%= attachment_image_tag current_user, :profile_image, format: "jpeg", fallback: "no_image.jpg", size:"30x30", style: "border-radius: 50%;" %>
                  <% end %>
                </li>
                <li><%= link_to " Log out", destroy_user_session_path, method: :delete, class: "nav-link text-energy" %></li>
              <% else %>
                <li><%= render "searches/form_search" %></li>
                <li>
                  <%= link_to new_user_registration_path, class: "nav-link text-energy" do %>
                    Sign up <i class="fas fa-user-plus"></i>
                  <% end %>
                </li>
                <li><%= link_to " Log in", new_user_session_path, class: "nav-link text-energy" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div id="notice">
        <% flash.each do |key, value| %>
          <p class="alert alert-<%= key %>">
            <%= value %>
          </p>
        <% end %>
      </div>
      <div id="theme-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>
      <%= yield %>

    </main>
    <footer>
    </footer>

  </body>
</html>


