<!DOCTYPE html>
<html>
  <head>
    <title>LinkHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <p class="alert alert-<%= key %>">
        <%= value %>
      </p>
    <% end %>
    <% if user_signed_in? %>
      <li>
        私の名前は<%= link_to current_user.name, edit_user_path %>です
      </li>
      <li>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "新規登録", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "ログイン", new_user_session_path %>
      </li>
    <% end %>
    <%= render "searches/form_search" %>
    <%= yield %>
  </body>
</html>
